---
const {
  href,
  class: className = '',
  title,
  target = '_blank',
} = Astro.props
---

<a
  class={`rounded-2xl px-6 py-2 text-center font-semibold flex items-center gap-2 transition-all duration-300 cursor-pointer text-sm ${className}`}
  href={href}
  target={target}
  title={title}
  aria-label={title}
>
  <slot />
</a>
