---
const { href, class: className = 'bg-transparent', title, target = '_blank' } = Astro.props
---

<a
  class={`flex items-center border-2 border-black font-medium px-2 py-2 rounded-lg gap-2 shadow-sm hover:shadow-red-800 hover:bg-black/5 transition-all duration-300 cursor-pointer ${className}`}
  href={href}
  target={target}
  title={title}
  aria-label={title}
>
  <slot />
</a>
