---
const {
  href,
  class: className = '',
  title,
  target = '_blank',
  textColor = 'text-white',
} = Astro.props
---

<a
  class={`flex items-center font-medium px-2 py-2 rounded-full gap-2 shadow-lg hover:shadow-gray-400 dark:hover:shadow-gray-900 cursor-pointer hover:scale-105 transition-all duration-300 ${textColor}  ${className}`}
  href={href}
  target={target}
  title={title}
  aria-label={title}
>
  <slot />
</a>
