---
import Section from './shared/Section.astro'
import ButtonLink from './shared/ButtonLink.astro'
import GitHub from '../assets/icons/GitHub.astro'
import WebIcon from '../assets/icons/WebIcon.astro'

import { PROJECTS } from '../data/projects'

const { id } = Astro.props
---

<Section
  title="Portafolio"
  id={id}
  subtitle="Algunos de los proyectos que he desarrollado"
  class="bg-white"
>
  <div class="lg:py-8 px-4 lg:px-6 max-w-7xl mx-auto grid grid-cols-1 gap-8">
    {
      PROJECTS.map(
        (project, index) =>
          project.home && (
            <article
              class="flex flex-col md:flex-row gap-x-12 border border-gray-200 rounded-xl overflow-hidden p-3 bg-blue-100/20 shadow-xl"
              data-aos="fade-up"
            >
              <div class="flex items-center justify-center w-full md:w-[1500px] overflow-hidden">
                <img
                  class="w-full object-cover rounded-xl"
                  src={project.image}
                  alt={project.title}
                  loading="lazy"
                />
              </div>
              <div class="flex flex-col p-4">
                <h1 class="text-2xl font-bold text-blue-800 mb-4">{project.title}</h1>

                <div class="flex flex-wrap gap-3 mb-4">
                  {project.technologies.map((tech) => (
                    <div class="flex items-center gap-2 bg-black/10 px-3 py-1 rounded-lg shadow">
                      <img src={tech.image} class="w-4 object-contain" alt={tech.name} />
                      <span class="text-sm text-gray-700">{tech.name}</span>
                    </div>
                  ))}
                </div>
                <p class="text-base opacity-80">{project.description}</p>

                <div class="flex items-center gap-4 mt-8">
                  {project.live && (
                    <ButtonLink
                      href={project.live}
                      title={`Ver demo de proyecto ${project.title}`}
                      class="bg-blue-800 px-4"
                    >
                      <WebIcon size={20} />
                      Ver demo
                    </ButtonLink>
                  )}
                  {project.link && (
                    <ButtonLink
                      title={`Ver repositorio de proyecto ${project.title}`}
                      class="px-4 bg-gray-300/50"
                      textColor="text-blue-800"
                      href={project.link}
                    >
                      <GitHub color="#193cb8" size={20} />
                      Ver código
                    </ButtonLink>
                  )}
                </div>
              </div>
            </article>
          )
      )
    }
  </div>
</Section>
